$primaryColor: hsl(300, 43%, 22%);
$secondaryColor: hsl(333, 80%, 67%);
$darkGreyMagenta: hsl(303, 10%, 53%);
$lightGreyMagenta: hsl(300, 24%, 96%);
$fontSpartan: "Spartan", sans-serif;
$fontSize: 15px;
